{% extends "base.html.twig" %}
{% block title %}Accueil - {{parent()}}{% endblock %}

{% block content %}
{% include "parts/banniere.html.twig" %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Ma boutique</h1>
        </div>
    </div>
</div>
  
    <div class="container">
        <div class="card-group">
    {% for produit in produits %}

          <div class="col col-12 col-sm-6 col-md-3 p-1">
                <div class="card" style="height: 100%;">
                    <img src="{{produit.image}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{produit.nom}}</h5>
                        <p class="card-text">{{produit.descriptionCourte}}</p>                        
                        <p><strong>{{produit.tarif}} €</strong></p>
                        <a href="/produit/{{produit.id}}/{{produit.nom}}" class="btn btn-primary">Voir l'article</a>
                    </div>
                </div>
            </div>
 
    {% endfor %}       
        </div>
    </div>
{% endblock %}

